@model FavoriListViewModel

@foreach (var item in Model.Favoriler)
{
    @if(item.Film.filmGosterilsinmi == false)
    { 
    <div class="row">
        <div class="col-12 d-flex align-items-center" style="border:solid;border-color:black;padding:5px;">
            <div class="col-5">
                <img src="~/img/film/@item.Film.Resim" alt="..." class="img-thumbnail">
            </div>
            <div class="col-7">
                <p style="color:black;">@localizer["Film"]: <a style="color:black;" href="/filmler/detail/@item.FilmID">@item.Film.FilmAdi</a></p>
                <p style="color: black;">@localizer["Geliştirici"]: @item.Film.Gelistirici</p>
                <p style="color: black;">@localizer["Yayıncı"]: @item.Film.Yayinci</p>
                <a href="/Favori/FavoridenCikar/@item.Film.FilmID" class="btn btn-danger btn-circle text-uppercase"><span class="glyphicon glyphicon-send">@localizer["Favorilerden Kaldır"]</span></a>
            </div>
        </div>
    </div>
    <br />
    }
}