@model FilmListViewModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            @foreach (var item in Model.Filmler)
            {
                @*<div class="row">
                    <div class="col-12 d-flex align-items-center" style="border:solid;border-color:black;padding:5px;">
                        <div class="col-5">
                            <img src="~/img/film/@item.Resim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <p style="color:black;">@localizer["Film"]: <a style="color:black;" href="/yeni/detail/@item.FilmID">@item.FilmAdi</a></p>
                            <p style="color:black;">@localizer["Çıkış Tarihi"]: @item.PiyasayaSurulmeTarihi.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
                <br />*@

                <div class="card ">
                    <img class="card-img-top img-fluid" src="~/img/film/@item.Resim" alt="..."  >
                    <div class="card-img-overlay card-body">
                        <h4 class="card-title">@localizer["Film"]:@item.FilmAdi</h4>
                        <p class="card-text text-danger">
                        @*@localizer["Film"]: <a style="color:black;" href="/yeni/detail/@item.FilmID">@item.FilmAdi</a><br />*@
                        @localizer["Çıkış Tarihi"]: @item.PiyasayaSurulmeTarihi.ToShortDateString()
                        </p>
                        <a href="/yeni/detail/@item.FilmID" class="btn btn-danger">Görüntüle</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>