@model FilmListViewModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            @foreach (var item in Model.Filmler)
            {
                <div class="row">
                    <div class="col-12 d-flex align-items-center" style="border: solid; border-color: #FEBF5E; padding: 5px;">
                        <div class="col-5">
                            <img src="~/img/film/@item.Resim" alt="..." class="img-thumbnail">
                        </div>
                        <div class="col-7">
                            <p style="color:black;">@localizer["Film"]: <a style="color:black;" href="/filmler/detail/@item.FilmID">@item.FilmAdi</a></p>
                            <p style="color:black;">@localizer["Geliştirici"]: @item.Gelistirici</p>
                            <p style="color:black;">@localizer["Yayıncı"]: @item.Yayinci</p>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>